@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url('../fonts/idroid.otf') format('opentype');
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3:#2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'android' , cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)) ;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    font-size: 3em;
}

header > p {
    color: white;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    padding: 10px;
    padding-bottom: 50px;
}
main {
    margin: auto;
    max-width: 800px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent 75%);
    color: var(--cor5);
    text-indent: 5px;
    font-weight: normal;
    font-size: 1.3em;
}

main p {
    text-indent: 30px;
    line-height: 1.7em;
    margin: 15px 0px;
    text-align: justify;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
    padding: 10px;
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main > img{
    background-color: white;
    min-width: 300px;
    max-width: 100px;
    padding: 10px;  
    margin: auto;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

img {
    width: 100%;
}

div#video {
    width: 100%;
}

img.pequeno {
    max-width: 350px;
    margin: auto;
    display: block;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;

    position: relative;
}

div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}